/* Thiết lập chung cho container có overflow */
.scrollable-content {
  max-height: 700px;
  /* Giới hạn chiều cao để thấy thanh cuộn */
  overflow-y: auto;
  /* Cho phép cuộn dọc */
  padding-right: 10px;
  /* Đệm cho phần nội dung tránh chạm vào thanh cuộn */
  scrollbar-width: thin;
  /* Đặt kích thước mỏng cho Firefox */
  scrollbar-color: #b6b6b6 #f0f0f0;
  /* Màu thanh cuộn cho Firefox */
}

/* Tùy chỉnh thanh cuộn cho trình duyệt WebKit (Chrome, Safari) */
.scrollable-content::-webkit-scrollbar {
  width: 2px;
  /* Chiều rộng của thanh cuộn */
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  /* Màu nền của track (kênh thanh cuộn) */
  border-radius: 10px;
  /* Bo góc cho track */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #00b4d8;
  /* Màu của thanh cuộn */
  border-radius: 10px;
  /* Bo góc cho thanh cuộn */
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #0077b6;
  /* Màu của thanh cuộn khi hover */
}

.scrollable-content::-webkit-scrollbar-thumb:active {
  background-color: #023e8a;
  /* Màu khi thanh cuộn bị giữ (active) */
}
